<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>

    <body>
        <h1><%= title %></h1>
        <div>
            <h2>From: <%= message.user %></h2>
            <p><strong>Message:</strong> <%= message.text %></p>
            <p><strong>Posted on:</strong> <%= message.added %></p>
        </div>
        <br>
        <a href="/">â† Back to all messages</a>
    </body>
</html>
